<div class="container">
	<div class="jumbotron">
  	<h1>Welcome in Music Planet!</h1>
  	<p>Welcome to our website ... You are on the best place of great music...</p>
  	<p style="text-align: right;">Hope you will enjoy!!! :)</p>
	</div>
</div>
