
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Album title</th>
            <th>Artist</th>
            <th>Country</th>
            <th>Created at</th>
            <th>Created by</th>
          </tr>
        </thead>
        <tbody>
          <%= render @albums %>
        </tbody>
      </table>
    </div>
  </div>
</div>
