
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="text-right">
      <%= link_to 'Add new album', new_album_path, class: 'btn btn-sm btn-primary' %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Album title</th>
            <th>Artist</th>
            <th>Country</th>
            <th>Created at</th>
            <th>Created by</th>
          </tr>
        </thead>
        <tbody>
          <%= render @albums %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="text-center">
<%= will_paginate @albums, render: BootstrapPagination::Rails, previous_label: "<<", next_label: ">>", inner_window: 1, outer_window: 0 %>
<div>
