<div class="container-about">
  <div class="row">
    <div class="col-md-7">
      <h2> About us...</h2>
      <br>
      <br>
      <p><strong>You are on the place where can enjoy in good music and create your own playlists.</strong></p>
      <p> You can sort music by genre, using different playlist.</p>
      <p> But first of all, you need to be registered (if you already have account, please login).<p>
    </div>
    <div class="col-md-5">
      <%= image_tag "homer.jpg", size: "400x300" %>
    </div>

</div>
