// $navbar-default-bg: #353535;

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron{
	margin-top: 20px;
	background-image: asset-url('music.jpg');
	background-size: cover;
	height: 300px;
  color: #ffcc00;
	text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

.body-background{
  background-color: #000000;
}

#logo{
  float: left;
  font-size: 1.5em;
	color: #ffcc00;
  //color: #fffa00;
  text-transform: capitalize;
  letter-spacing: -1px;
  font-weight: bold;
	padding-top: 10px;
}

#search{
  background-color: #353535;
  opacity: 0.5;
}

.row{
	color: #ffcc00;
// 	.col-md-6{
// 	border: 1px solid #ffcc00;
// 	border-radius: 5px;
// }
}


#register{
	color: #2369db;
}

#login{
	color: #3dbf54;
}

#about{
	color: #ffcc00;
	text-decoration: underline;
}

#error_explanation{
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extended .has_error;
	.form-control {
		color: $state-danger-text;
	}
}

#msg{
	color: #ffffff;
}

#PopUpModal{
	color: #000000;
}
