<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Number of registered users</h3>
      <h5>Count: <%= @users.count %></h5>
      <br>
      <h3>Number of songs</h3>
      <h5>Count: <%= @songs.count %></h5>
      <br>
      <h3>Number of albums</h3>
      <h5>Count: <%= @albums.count %></h5>
      
      <br>
    </div>
  </div>
</div>
